<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <title>Cyber_Trackers</title>
  
</head>
<body>
    <h1>Cyber Bullying Detection</h1>
    <div class="container">
    <form action="/" method ="POST">
        <input type="text" name="content" id="value"  placeholder="content" autocomplete="off">
        <input type="submit" value="Search">
    </form>

    
    <div class="prediction">
        <h2>Prediction</h2>
        <p>{{ ans[0] }}<br>{{ ans[1] }}<br>{{ ans[2] }}<br></p>
        
    </div>
    <input name = "reset" type="submit" value="Reset" onclick="reset">
    <script>
    function reset() {
        var frm = document.getElementsByName('prediction');
        frm.reset();  // Reset all form data
        return false; // Prevent page refresh
     }
     </script>
    </div>
</body>
</html>
